.footer {
    background-color: #181818;
    color: #f5f5f5;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    border-top: 3px solid #cba94d;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 0;
    margin: auto;
}

.footer-logo img {
    height: 44px;
}

.footer-logo p {
    max-width: 250px;
    font-size: 14px;
}

.social-icons {
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

.social-icons a {
    background-color: #C49E32;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    width: 48px;
    height: 48px;
}

.social-icons a:hover {
    background-color: #775B00;
    transform: scale(1.1);
}

.social-icons a svg path {
    transition: fill 0.3s ease;
}

.social-icons a:hover svg path {
    fill: #ffffff;
}



.footer-links h3,
.footer-contact h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a,
.footer-contact p {
    text-decoration: none;
}

.footer-links a:hover,
.footer-policies a:hover {
    text-decoration: underline;
}

.footer-contact p {
    margin: 8px 0;
}

.footer-bottom {
    border-top: 1px solid #333;
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.footer-policies {
    margin-top: 10px;
}

.footer-policies a {
    color: #f6f6f6;
    margin: 0 10px;
    font-size: 12px;
    text-decoration: none;
}

@media (max-width: 840px) {
    .footer {
        padding-left: 44px;
        padding-right: 44px;
    }

    .social-icons {
        display: flex;
        gap: 16px;
        margin-top: 24px;
    }

    .social-icons a {
        padding: 8px;
        width: 44px;
        height: 44px;
    }
}